<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Dabberha">

    <title>Admin</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset("admin/css/bootstrap.min.css") }}" rel="stylesheet">
    <link href="{{ asset("admin/css/bootstrap-reset.css") }}" rel="stylesheet">
    <!--external css-->
    <link href="{{ asset("admin/assets/font-awesome/css/font-awesome.css") }}" rel="stylesheet"/>
    <link href="{{ asset("admin/assets/bootstrap-datepicker/css/datepicker.css") }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset("admin/assets/bootstrap-colorpicker/css/colorpicker.css") }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset("admin/assets/bootstrap-daterangepicker/daterangepicker.css") }}" rel="stylesheet"
          type="text/css"/>
    <link href="{{ asset("admin/css/owl.carousel.css") }}" rel="stylesheet" type="text/css">
    <link href="{{ asset("admin/css/style.css") }}" rel="stylesheet">
    <link href="{{ asset("admin/css/style-responsive.css") }}" rel="stylesheet"/>
    <!-- alertify -->
    <link href="{{ asset("admin/css/alertify.min.css") }}" rel="stylesheet" type="text/css">
    <link href="{{ asset("admin/css/semantic.min.css") }}" rel="stylesheet" type="text/css">
    <link href="{{ asset("admin/css/default.min.css") }}" rel="stylesheet" type="text/css">

</head>

<body>

<section id="container">

    <!--header start-->
    <header class="header white-bg">
        <div class="sidebar-toggle-box">
            <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
        </div>
        <!--logo start-->
        <a href="" class="logo">Admin<span></span></a>
        <!--logo end-->

        <div class="top-nav ">
            <!--search & user info start-->

            <ul class="nav pull-right top-menu">
                <li>
                    <a href="">
                        <span class="username">Admin</span>
                    </a>
                </li>

            </ul>
            <!--search & user info end-->
        </div>
    </header>
    <!--header end-->

    <!--sidebar start-->
    <aside>
        <div id="sidebar" class="nav-collapse ">
            <!-- sidebar menu start-->
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a href="">
                        <i class="icon-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/home">
                        <i class="fa fa-shopping-cart"></i>
                        <span>categories </span>
                    </a>
                </li>
                <li>
                    <a href="/admin/items">
                        <i class="fa fa-shopping-cart"></i>
                        <span>items </span>
                    </a>
                </li>
                <!--<li>
                    <a href="/admin/users">
                        <i class="fa fa-shopping-cart"></i>
                        <span>users </span>
                    </a>
                </li>-->
            </ul>
            <!-- sidebar menu end-->
        </div>
    </aside>
    {% block content %}{% endblock %}
    <!--main content end-->
    <!--footer start-->
    <footer class="site-footer">
        <div class="text-center">
            copyright © admin 2021

        </div>
    </footer>
    <!--footer end-->


</section>

<!-- js placed at the end of the document so the pages load faster -->
<script src="{{ asset("admin/js/jquery.js") }}"></script>
<script src="{{ asset("admin/js/jquery-1.8.3.min.js") }}"></script>
<script src="{{ asset("admin/js/bootstrap.min.js") }}"></script>
<script src="{{ asset("admin/js/jquery.dcjqaccordion.2.7.js") }}" class="include" type="text/javascript"></script>
<script src="{{ asset("admin/js/jquery.scrollTo.min.js") }}"></script>
<script src="{{ asset("admin/js/jquery.nicescroll.js") }}" type="text/javascript"></script>
<script src="{{ asset("admin/js/jquery.sparkline.js") }}" type="text/javascript"></script>
<script src="{{ asset("admin/js/owl.carousel.js") }}"></script>
<script src="{{ asset("admin/js/jquery.customSelect.min.js") }}"></script>


<script src="{{ asset("admin/js/respond.min.js") }}"></script>
<script src="{{ asset("admin/js/common-scripts.js") }}"></script>

<script src="{{ asset("admin/js/sparkline-chart.js") }}"></script>
<script src="{{ asset("admin/js/jquery-ui-1.9.2.custom.min.js") }}"></script>
<script src="{{ asset("admin/js/bootstrap-switch.js") }}"></script>
<script src="{{ asset("admin/js/jquery.tagsinput.js") }}"></script>
<script src="{{ asset("admin/js/ga.js") }}"></script>
<script src="{{ asset("admin/assets/bootstrap-datepicker/js/bootstrap-datepicker.js") }}"></script>
<script src="{{ asset("admin/assets/bootstrap-daterangepicker/date.js") }}"></script>
<script src="{{ asset("admin/assets/bootstrap-daterangepicker/daterangepicker.js") }}"></script>
<script src="{{ asset("admin/assets/bootstrap-colorpicker/js/bootstrap-colorpicker.js") }}"></script>


<script src="{{ asset("admin/assets/bootstrap-inputmask/bootstrap-inputmask.min.js") }}"></script>
<script src="{{ asset("admin/js/form-component.js") }}"></script>


</body>

</html>