<!-- Header -->
<header id="header" class="header">
    <div class="header-top bg-theme-colored border-top-theme-colored2-2px sm-text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="widget text-white">
                        <ul class="list-inline xs-text-center text-white">
                            <li class="m-0 pl-10 pr-10"> <a href="#" class="text-white"><i class="fa fa-phone text-theme-colored2"></i> 123-456-789</a> </li>
                            <li class="m-0 pl-10 pr-10">
                                <a href="#" class="text-white"><i class="fa fa-envelope-o text-theme-colored2 mr-5"></i> team@ashal.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 pr-0">
                    <div class="widget">
                        <ul class="styled-icons icon-sm icon-theme-colored2 pull-right flip sm-pull-none sm-text-center mt-5">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2" style="direction: ltr">
                    <ul class="list-inline sm-pull-none sm-text-center text-right text-white mb-sm-20 mt-10">
                        <li class="m-0 pl-10"> <a href="{{ asset("ajax-load/login-form.html") }}" class="text-white ajaxload-popup"><i class="fa fa-user-o mr-5 text-white"></i> Login</a> </li>
                        <li class="m-0 pl-0 pr-10">
                            <a href="{{ asset("ajax-load/register-form.html") }}" class="text-white ajaxload-popup"><i class="fa fa-edit mr-5"></i>Register</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle p-0 bg-lightest xs-text-center">
        <div class="container pt-20 pb-20">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <a class="menuzord-brand pull-left flip sm-pull-center " href="#"><img src="{{ asset("images/logo-wide.png") }}" alt=""></a>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="widget no-border sm-text-center mt-10 mb-10 m-0">
                                <i class="pe-7s-headphones text-theme-colored font-48 mt-0 mr-15 mr-sm-0 sm-display-block pull-left flip sm-pull-none"></i>
                                <a href="#" class="font-12 text-gray text-uppercase">Call us for more details</a>
                                <h5 class="font-13 text-black m-0"> +(012) 345 6789</h5>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="widget no-border sm-text-center mt-10 mb-10 m-0">
                                <i class="pe-7s-mail-open text-theme-colored font-48 mt-0 mr-15 mr-sm-0 sm-display-block pull-left flip sm-pull-none"></i>
                                <a href="#" class="font-12 text-gray text-uppercase">Email us for more details</a>
                                <h5 class="font-13 text-black m-0"> team@ashal.com</h5>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-nav">
        <div class="header-nav-wrapper navbar-scrolltofixed bg-white">
            <div class="container">
                <nav id="menuzord" class="menuzord default theme-colored menuzord-responsive">
                    <ul class="menuzord-menu">
                        <li class="active"><a href="/">Home</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>