{% extends 'base.twig' %}

{% block content %}
<div class="main-content">
    <!-- Section: About -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h2 class="text-uppercase title mt-0">About<span class="text-theme-colored2"> Us</span></h2>
                    <div class="diamond-line-left-theme-colored2"></div>
                    <p><b>Ashal</b> is a website made by a team of 6 senior university students that provides easy access to a plethora of Egyptian governmental services ranging from Health Care, Education, Housing, Driving, Utilities and Personal Documents.</p>
                    <p>One of the most exhausting issues in Egypt is the need of finishing certain papers or any required procedures. The main reason is that most of us don’t know the steps, the needed papers or even the places that offers these services. This problem wont exist anymore with <b>Ashal</b></p>
                </div>
                <div class="col-sm-12 col-md-6">
                    <div class="text-center mt-sm-40">
                        <img src="{{ asset("images/photos/2.jpeg") }}" alt="">
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Section: Features -->
    <section id="features">
        <div class="container">
            <div class="section-title text-center">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h2 class="text-uppercase title">Welcome To<span class="text-theme-colored2"> Ashal</span></h2>
                        <div class="diamond-line-centered-theme-colored2"></div>
                    </div>
                </div>
            </div>
            {% include 'categories.twig' %}
        </div>
    </section>

    <!-- Divider: Clients -->
    <section class="clients bg-theme-colored2">
        <div class="container pt-0 pb-0">
            <div class="row">
                <div class="col-md-12">
                    <!-- Section: Clients -->
                    <div class="owl-carousel-6col clients-logo transparent text-center">
                        <div class="item"> <a href="#"><img src="{{ asset("images/clients/1.png") }}" alt=""></a></div>
                        <div class="item"> <a href="#"><img src="{{ asset("images/clients/2.png") }}" alt=""></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}