{% extends 'base.twig' %}
{% block content %}
    <div class="main-content">
        <!-- Section: service-->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 blog-pull-left">
                        <div class="single-service" id="servicePapers">
                            <script>updatePapers({{ items|first.id }})</script>
                            <!--<img src="images/services/lg2.jpg" alt="">-->
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="sidebar sidebar-right mt-sm-30 ml-40">
                            <div class="widget">
                                <h4 class="widget-title">Documents <span
                                            class="text-theme-colored2">List</span></h4>
                                <div class="services-list">
                                    <ul class="list list-border">
                                        {% set firstItem=items|first %}
                                        {% for item in items %}
                                            {% if item == firstItem %}
                                                <li class="active"><a href="javascript:void(0);" onclick="updatePapers({{ item.id }}, this)">{{ item.name }}</a></li>
                                            {% else %}
                                                <li class=""><a href="javascript:void(0);" onclick="updatePapers({{ item.id }}, this)">{{ item.name }}</a></li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}